body { background: #fff; }

.container {
    background: #fff;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.section {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.section:hover {
    border: 1px solid #000;
}

.buttons {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: max-content;
}

button{
    display: inline-block;
    cursor: pointer;
}

.readonly {
    background: #eee;
}

.sm-text {
    text-align: center;
    font-size: 12px;
}

.lrg-text {
    text-align: center;
    font-size: 14px;
    margin: 0;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}

#logo {
    background-image: url("../images/Logo.png");
    background-size: 100% 100%;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.centered-tbl {
    margin: 0 auto;
    padding: 10px;
}

.centered-tbl td {
    padding: 10px;
}

.table-header {
    color: #003497;
    font-size: 15px;
}

h2 {
    text-align: center;
}

.half-section {
    display: inline-block;
    width: 49%;
}

.right {
    float: right;
}

th {
    text-align: right;

}

.sm {
    width: 50px;
}

.med-sm {
    width: 100px;
}

.med {
    width: 125px;
}

.lrg {
    width: 100%;
}

.range-label {
    color: #003497;
    font-size: 20px;
    font-weight: bold;
}

#scenario-results {
    color: #003497;
    font-size: 15px;
    text-align: center;
}
